* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body css */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(245, 235, 235);
  color: #492f2f;
}

/* Container css */
.container {
  max-width: 90%;
  margin: 50px auto;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  display: inline-block;
  /* flex-direction: row; */
  gap: 2%;
  border-radius: 40px;
  background-color: #e7d8db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskForm {
  flex-basis: 10%;
}

#taskTable {
  flex-basis: 50%;
}

#taskForm h2 {
  font-size: 200%;
  margin-bottom: 15px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

label {
  /* font-weight: bold; */
  font-size: 200%;
  font-family: "Ojuju", sans-serif;
  color: rgb(66, 64, 60);
}

input,
select,
textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 5px double burlywood;
  border-radius: 20px;
  font-size: 140%;
}

.submit {
  padding: 15px 15px;
  font-size: 150%;
  color: #0e0b0b;
  background-color: whitesmoke;
  border: inset;
  border-radius: 25px;
  cursor: grab;
  transition: 0.8s;
  margin-left: 45%;
  margin-bottom: 20px;
}

.submit:hover {
  background-color: #0e0f0f;
  border: 10px double rgb(239, 236, 236);
  color: whitesmoke;
  padding: 2opx 40px 15px 40px;
  font-size: 200%;s
}

.task {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.task:last-child {
  border-bottom: none;
}

.completed {
  /* text-decoration: underline; */
  color: blue;
  background-color: gray;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px dotted #ccc;
}

table th,
table td {
  border: 5px ridge #0b0505;
  border-spacing: 100px;
  padding: 20px;
  border-collapse: separate;
  margin: 10px 10px;
}
/* 
th {
  background-color: #f2f2f2;
} */

.btn {
  padding: 10px 15px;
  color: #a45656;
  border: none;
  border-radius: 5px;
  cursor: no-drop;
  /* transition: background-color 0.3s; */
}
/* 
.btn-danger {
  background-color: #dc143c;
} */

/* .btn-danger:hover {
  background-color: #8b0000;
} */

/* .btn-primary {
  background-color: #228b22;
} */
/* 
.btn-primary:hover {
  background-color:yellow;
} */

.btn-success {
  background-color: #fff;
  color: green;
  border: 1px dotted black;
  border-radius: 5px;
  /* border-color: ; */
}

/* media queries for responsive design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  #taskForm,
  #taskTable {
    flex-basis: 100%;
  }

  #taskForm h2 {
    font-size: 20px;
  }

  input,
  select,
  textarea {
    width: calc(100% - 20px);
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  table th,
  table td {
    display: block;
    padding: 8px;
    text-align: center;
  }

  table th {
    text-align: left;
    border-collapse: separate;

    border-spacing: 20px;
    /* padding: 10px; */
  }

  .submit {
    padding: 10px 10px;
    font-size: 100%;
    color: #f7eded;
    background-color: rgb(3, 3, 3);
    border: inset;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.8s;
    margin-left: 45%;
    margin-bottom: 10px;
  }
}
